<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hbx.itzy.mapper.LevelMapper">
    <select id="getExpNeeded" parameterType="int" resultType="String">
        select LEVEL_EXP from level where LEVEL_ID = #{id}
    </select>
</mapper>